In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("loan_data.csv")
dataset.head(5)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,,11.35040654,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.08214255,,707,2760,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.37349118,11.63,682,4710,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.35040654,8.1,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.29973224,NaN,667,4066,4740,39.5,0,1,0,0

In [3]:
dataset.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  1
fico                 0
days.with.cr.line    1
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   object
 3   installment        9578 non-null   object
 4   log.annual.inc     9578 non-null   object
 5   dti                9577 non-null   object
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9577 non-null   object
 8   revol.bal          9578 non-null   object
 9   revol.util         9578 non-null   object
 10  inq.last.6mths     9578 non-null   object
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   object
 13  not.fully.paid     9578 non-null   object
dtypes: int64(3), object(11)
memory usage: 1.0+ MB

In [6]:
dataset.select_dtypes("int64").columns

Index(['credit.policy', 'fico', 'delinq.2yrs'], dtype='object')

In [7]:
from sklearn.impute import SimpleImputer

In [9]:
si = SimpleImputer(strategy="mean")
val = si.fit_transform(dataset[['credit.policy', 'fico', 'delinq.2yrs']])

In [11]:
newData = pd.DataFrame(val,columns=dataset.select_dtypes("int64").columns)

In [12]:
newData.isnull().sum()

credit.policy    0
fico             0
delinq.2yrs      0
dtype: int64

In [13]:
newData

      credit.policy   fico  delinq.2yrs
0               1.0  737.0          0.0
1               1.0  707.0          0.0
2               1.0  682.0          0.0
3               1.0  712.0          0.0
4               1.0  667.0          1.0
...             ...    ...          ...
9573            0.0  672.0          0.0
9574            0.0  722.0          0.0
9575            0.0  687.0          0.0
9576            0.0  692.0          0.0
9577            0.0  732.0          0.0

[9578 rows x 3 columns]

In [15]:
dataset["fico"].mean()

710.8463144706619