In [10]:
import pandas as pd

In [11]:
dataset = pd.DataFrame({"Ages":[30,35,40,45,50],"premium":[20000,25000,30000,34000,40000]})
dataset

   Ages  premium
0    30    20000
1    35    25000
2    40    30000
3    45    34000
4    50    40000

In [12]:
x = dataset["Ages"]
x

0    30
1    35
2    40
3    45
4    50
Name: Ages, dtype: int64

In [13]:
y = dataset["premium"]
y

0    20000
1    25000
2    30000
3    34000
4    40000
Name: premium, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# Spliting 80% data as  training data and 20% as testing data
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [16]:
x_train

3    45
0    30
1    35
4    50
Name: Ages, dtype: int64

In [17]:
x_test

2    40
Name: Ages, dtype: int64

In [18]:
y_train

3    34000
0    20000
1    25000
4    40000
Name: premium, dtype: int64

In [19]:
y_test

2    30000
Name: premium, dtype: int64