In [3]:
#series
import pandas as pd
data = [1,2,3,4,5,6,7,8,9,10]
dataset = pd.Series(data)
print(dataset)
print(type(dataset))
print(dataset[1])
# changes the values to float
pd.Series(data,index=['a','b','c','d','e','f','g','e','f','g'],dtype=float,name="namedData")

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>
2

a     1.0
b     2.0
c     3.0
d     4.0
e     5.0
f     6.0
g     7.0
e     8.0
f     9.0
g    10.0
Name: namedData, dtype: float64

In [5]:
#dictonary as series in pandas
dct = {"names":["Govind","Mohit","Bharat","Dhiraj"],"age":[22,21,22,22]} 
pd.Series(dct)

names    [Govind, Mohit, Bharat, Dhiraj]
age                     [22, 21, 22, 22]
dtype: object

In [6]:
value = pd.Series(12)
print(value)

0    12
dtype: int64

In [7]:
value = pd.Series(12,index=[1,2,3,4,5,6,7,8,9])
print(value)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
9    12
dtype: int64

In [8]:
value1 = pd.Series(12,index=[1,2,3,4,5,6,7,8,9])
value2 = pd.Series(12,index=[1,2,3,4,5])
print(value1 + value2)

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64