In [1]:
import pandas as pd

In [4]:
value1 = pd.DataFrame([12,32,4,25,6,4,2,55,31])
print(value1)
print(type(value1))

    0
0  12
1  32
2   4
3  25
4   6
5   4
6   2
7  55
8  31
<class 'pandas.core.frame.DataFrame'>

In [12]:
dct = {"a":[1,2,3,4,5],"b":[2,3,4,5,6],"c":[3,5,2,5,6],2:[2,6,4,7,8]}
value2 = pd.DataFrame(dct,columns=[2,"a","b","c"])
print(value2)

   2  a  b  c
0  2  1  2  3
1  6  2  3  5
2  4  3  4  2
3  7  4  5  5
4  8  5  6  6

In [17]:
print(value2["b"][2])
print(value2["a"][1])

4
2

In [19]:
lst = [[2,3,5,6],[5,6,7,8]]
value3 = pd.DataFrame(lst)
value3

   0  1  2  3
0  2  3  5  6
1  5  6  7  8

In [20]:
#we can use to series to created DataFrames