In [1]:
# Replace and Interpolate functions in Pnadas
import pandas as pd

In [2]:
dataset = pd.read_csv("health_rankings.csv")
dataset.head(5)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,43.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,43.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0

In [4]:
dataset.replace(to_replace=43.0,value=50)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,50.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,50.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,50.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,50.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,50.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.0,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,NaN,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,NaN,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.0,56045.0

In [5]:
dataset.replace(to_replace="US",value="Nepal")

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,Nepal,United States,0.0,0.0,2003-2005,Violent crime rate,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,Nepal,United States,0.0,0.0,2004-2006,Violent crime rate,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,Nepal,United States,0.0,0.0,2005-2007,Violent crime rate,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,Nepal,United States,0.0,0.0,2006-2008,Violent crime rate,43.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,Nepal,United States,0.0,0.0,2007-2009,Violent crime rate,43.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.0,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,NaN,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,NaN,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.0,56045.0

In [9]:
dataset.replace("[A-Za-z]","Python",regex=True)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,0.0,0.0,2003-2005,PythonPythonPythonPythonPythonPythonPython Pyt...,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,0.0,0.0,2004-2006,PythonPythonPythonPythonPythonPythonPython Pyt...,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,0.0,0.0,2005-2007,PythonPythonPythonPythonPythonPythonPython Pyt...,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,0.0,0.0,2006-2008,PythonPythonPythonPythonPythonPythonPython Pyt...,43.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,0.0,0.0,2007-2009,PythonPythonPythonPythonPythonPythonPython Pyt...,43.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,56.0,45.0,2007,PythonPythonPythonPythonPython PythonPythonPyt...,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,56.0,45.0,2008,PythonPythonPythonPythonPython PythonPythonPyt...,125.0,NaN,NaN,7.450000,NaN,NaN,2013.0,56045.0
303861,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,56.0,45.0,2009,PythonPythonPythonPythonPython PythonPythonPyt...,125.0,NaN,NaN,12.770000,NaN,NaN,NaN,56045.0
303862,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,56.0,45.0,2010,PythonPythonPythonPythonPython PythonPythonPyt...,125.0,NaN,NaN,12.110000,NaN,NaN,NaN,56045.0
303863,PythonPython,PythonPythonPythonPythonPythonPython PythonPyt...,56.0,45.0,2011,PythonPythonPythonPythonPython PythonPythonPyt...,125.0,NaN,NaN,10.710000,NaN,NaN,2014.0,56045.0

In [11]:
dataset.replace(43.0,method="ffill")

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\204627299.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  dataset.replace(43.0,method="ffill")

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,43.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,43.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.0,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,NaN,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,NaN,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.0,56045.0

In [14]:
# Make changes in the original data
dataset.replace(43.0,method="bfill",inplace=True)
dataset

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\1574485639.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  dataset.replace(43.0,method="bfill",inplace=True)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,23.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,23.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,23.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,23.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,23.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.0,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,NaN,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,NaN,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.0,56045.0

In [16]:
# Interpolate
# works with numbers
dataset.interpolate()

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\92417233.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dataset.interpolate()

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,23.0,1328750.667,2.748771e+08,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,23.0,1340928.667,2.776128e+08,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,23.0,1355853.167,2.804077e+08,483.529230,NaN,NaN,2010.000000,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,23.0,1366928.333,2.876146e+08,475.263942,NaN,NaN,2011.000000,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,23.0,1339439.333,2.925763e+08,457.808585,NaN,NaN,2012.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,79.000,5.482428e+03,9.370000,4459.525,7020.125,2013.166667,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,79.000,5.482428e+03,7.450000,4459.525,7020.125,2013.000000,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,79.000,5.482428e+03,12.770000,4459.525,7020.125,2013.333333,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,79.000,5.482428e+03,12.110000,4459.525,7020.125,2013.666667,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,79.000,5.482428e+03,10.710000,4459.525,7020.125,2014.000000,56045.0

In [18]:
dataset.interpolate(method="linear")

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\2460895956.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dataset.interpolate(method="linear")

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,23.0,1328750.667,2.748771e+08,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,23.0,1340928.667,2.776128e+08,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,23.0,1355853.167,2.804077e+08,483.529230,NaN,NaN,2010.000000,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,23.0,1366928.333,2.876146e+08,475.263942,NaN,NaN,2011.000000,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,23.0,1339439.333,2.925763e+08,457.808585,NaN,NaN,2012.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,79.000,5.482428e+03,9.370000,4459.525,7020.125,2013.166667,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,79.000,5.482428e+03,7.450000,4459.525,7020.125,2013.000000,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,79.000,5.482428e+03,12.770000,4459.525,7020.125,2013.333333,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,79.000,5.482428e+03,12.110000,4459.525,7020.125,2013.666667,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,79.000,5.482428e+03,10.710000,4459.525,7020.125,2014.000000,56045.0

In [21]:
dataset.interpolate(method="linear",axis=0)
# Interpolating column wise

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\2722656898.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dataset.interpolate(method="linear",axis=0)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,23.0,1328750.667,2.748771e+08,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,23.0,1340928.667,2.776128e+08,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,23.0,1355853.167,2.804077e+08,483.529230,NaN,NaN,2010.000000,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,23.0,1366928.333,2.876146e+08,475.263942,NaN,NaN,2011.000000,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,23.0,1339439.333,2.925763e+08,457.808585,NaN,NaN,2012.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,79.000,5.482428e+03,9.370000,4459.525,7020.125,2013.166667,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,79.000,5.482428e+03,7.450000,4459.525,7020.125,2013.000000,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,79.000,5.482428e+03,12.770000,4459.525,7020.125,2013.333333,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,79.000,5.482428e+03,12.110000,4459.525,7020.125,2013.666667,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,79.000,5.482428e+03,10.710000,4459.525,7020.125,2014.000000,56045.0

In [23]:
dataset.interpolate(limit=2)

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\2662843363.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dataset.interpolate(limit=2)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,23.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,23.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,23.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.000000,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,23.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.000000,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,23.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.000000,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,2013.333333,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,2013.666667,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.000000,56045.0

In [25]:
dataset.interpolate(limit=1000,limit_direction="forward")

C:\Users\govin\AppData\Local\Temp\ipykernel_26720\2057084635.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dataset.interpolate(limit=1000,limit_direction="forward")

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,23.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,23.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,23.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.000000,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,23.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.000000,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,23.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,2013.166667,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.000000,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,2013.333333,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,2013.666667,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.000000,56045.0